@using ImageManager.Services
@inject CategoryService CategoryService

<div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form asp-action="Create" method="post" id="form">
                <div class="modal-header">
                    <h5 class="modal-title">Create new Album</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="form-control-label">Name</label>
                        <input class="form-control" id="name" name="Name"/>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Category</label>
                        <select name="CategoryId" class="form-control">
                            @foreach (var item in CategoryService.GetAll())
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select >
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Description</label>
                        <textarea class="form-control" id="Description" rows="4" name="Description"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>