<button class="btn btn-info" id="btn-edit">
    <i class="fa fa-edit"></i>
    Edit
</button>
<button class="btn btn-success" id="btn-all">
    <i class="fa fa-check"></i>
    All
</button>
<button class="btn btn-danger" id="btn-delete">
    <i class="fa fa-trash"></i>
    Delete
</button>
<button class="btn" id="btn-cancel">
    <i class="fa fa-edit"></i>
    Cancel
</button>