@model List<Image>

<div id="modal" class="modal fade">
    <div class="modal-dialog modal-lg my-1">
        <div class="modal-content">
            <div id="carousel" class="carousel" data-ride="carousel">
                <div class="carousel-inner">
                    @foreach (var item in Model)
                    {
                        <div class="carousel-item" id="slide-@item.Id">
                            <img class="img-fluid d-block mx-auto" src="@item.Path" alt="" asp-append-version="true" style="min-height: 800px">
                            @if (!string.IsNullOrEmpty(item.Name) || !string.IsNullOrEmpty(item.Description))
                            {
                                <div class="carousel-caption d-none d-md-block w-100 px-5 img-detail" style="bottom: 0; left: 0">
                                    <h3>@item.Name</h3>
                                    <p>@item.Description</p>
                                </div>
                            }
                        </div>
                    }
                </div>
                <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>